/*
 * Globals
 */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left:5px;
    padding-right:5px;
}


/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  font-family: 'Arvo';
}
body {
  background-color: #365a35;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.acme-container {
  margin-right: auto;
  margin-left: auto;
}

.acme-container-admin {
  margin-right: auto;
  margin-left: auto;
  margin-top: -10px;
}

.acme-container-admin-home {
  margin-right: auto;
  margin-left: auto;
  margin-top: -54px;
}

.acme-container-adhoc {
  margin-right: auto;
  margin-left: auto;
  margin-top: -65px;
}

.acme-container-siteadmin {
  margin-right: auto;
  margin-left: auto;
  margin-top: -30px;
}



/* Padding for spacing */
.inner {
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 40px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
* Nav
 */ 
nav {
 z-index: 888;   
}


/*
 * Article 
 */
article.home {
    
    background-color:#668238;
}
article.home .main-col {
    padding-top:50px;
    background-image:url('../img/acme-foods-truck.jpg');
    background-repeat: no-repeat;
    background-color:#668238;
    max-height:800px;
}

/*
 * Article LG Width 1268+
 */
@media (min-width: 1268px) {
    article.home .main-col {
        background-size:cover;
    }
}


/*
 * Interior Article
 */
.interior-article {
    margin-top:40px;
    background: #668238; 
    background: -moz-linear-gradient(left, #668238 0%, #668238 77%, #365a35 90%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#668238), color-stop(77%,#668238), color-stop(90%,#365a35));
    background: -webkit-linear-gradient(left, #668238 0%,#668238 77%,#365a35 90%); 
    background: -o-linear-gradient(left, #668238 0%,#668238 77%,#365a35 90%);
    background: -ms-linear-gradient(left, #668238 0%,#668238 77%,#365a35 90%);
    background: linear-gradient(to right, #668238 0%,#668238 77%,#365a35 90%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#668238', endColorstr='#365a35',GradientType=1 );
}

/*
 * Main Column
 */
.main-col {
	padding:0px;
	padding-top:10px;
	padding-bottom:10px;
	margin-left: auto;
	margin-right: auto;
}

/*
 * Main Column Call to Action / Headline
 */
.main-col div.headline
{
    padding-left:10px;
    padding-bottom:50px;
    padding-right:20px;
	margin-right:80px;
	margin-left:80px;
    background-color: #F8AE3C;
    background-image: url("../img/glyph-farm-fresh.png");
    background-position: 95% 5px;
    background-repeat: no-repeat;
    border:2px solid #9FA617;
    display:block;
    height:48px;
}
.main-col div.headline h3
{
    font-size:12px;
    text-shadow: 2px 1px 2px #666;
}

/*
 * Interior Main Col 
 */
.main-col-interior {
    background-color:#F9F9F9;
}

.col-top-sellers {
	background-color:#F9F9F9;
	min-height: 700px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*
 * Aux Column
 */
.aux-col {
  background-color:#668238;
  padding:20px;
  margin-top:30px;
  text-align: left;
}

.admin-sidebar {
  background-color:#668238;
  padding:15px;
  margin-top:10px;
  text-align: left;
}

.aux-col-green {
  background-color:#668238;
  padding:20px;
  margin-top:8px;
  text-align: left;
}

.control-dropdown {
	font-size:18px;	
}

/*
 * Aux Row
 */
.aux-row { margin: 0px; margin-top:10px; padding:20px; }


@media (min-width: 568px) {
    
    .main-col div.headline h3
    {
        font-size:16px;
    }
}
@media (min-width: 768px) {
    .aux-row { margin-top:0px; padding:20px; }
}

@media (min-width: 968px) {
    .aux-row { margin-top:0px; padding:20px; }
}
.aux-row div div.feature {
  background-color:#8FCD9B;
  padding:1px;
  min-height: 320px;
}
.aux-row div div.feature-first {
  background-color:#BCA065;
}
.aux-row div div.feature-last {
  background-color:#F7D24E;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  background-color:#252525;
  padding:4px;
  padding-top:8px;
}


/*
 * Affix and center
 */


@media (min-width: 768px) {
  
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
  }
}


/* Headline */
h1.lead { text-transform: uppercase; font-size:40px;font-weight: 700;
 text-shadow: 3px 2px 5px #092E05; margin-top:0px; line-height: 54px;  }

@media (min-width: 700px) {
  h1.lead {  margin-top:20px;  }
}
@media (min-width: 1400px) {
  h1.lead { margin-top:0px;  }
}

/*
 * Search Group
 */
.search-input {
    
    border-radius:0px;
    width:100%;
}
.btn-search {
    border-radius:0px;
    height:35px;
    margin-top:5px;
    width:40%;
}
@media (min-width: 700px) {
    .btn-search {
        border-radius:0px;
        height:35px;
        width:40px;
        margin-top:-1px;
    }
}

/*
 * Aux Col Headlines and Features
 */
.aux-col h2.lead { color:#FEFBE8; text-transform: uppercase; font-size:12px;font-weight: normal;font-family:helvetica,arial,sans-serif;
  text-shadow: 0 1px 3px rgba(0,0,0,.5); letter-spacing: 1px;text-align:center;margin-top:4px;margin-bottom:10px;}
  
.aux-col p.lead { font-size:16px;}

.green-lead { font-size:20px;}

.aux-col div.feature { padding-left:25px; padding-right:20px; padding-top:0px; padding-bottom:10px; background-color:#365A35; min-height:105px; margin-top:5px; }
.aux-col div.feature h3 {
  text-align: left; color:#FEFBE8; padding-top:10px;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.aux-col div.feature h3 small {
  color:#FEFBE8;
  display:block;
  padding-top:5px;
}
.chart-header-top {
  text-align: left;
  font-family: Arial, Verdana, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #5c5d5f;
  background-color: #e0e1e3;
  margin: 0px 15px 15px 15px;
  padding: 14px 0px 16px 22px;
}

.chart-header {
  text-align: left;
  font-family: Arial, Verdana, sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #5c5d5f;
  background-color: #e0e1e3;
  margin: 15px 15px 15px 15px;
  padding: 10px 0px 10px 22px;
}

.chart-header-top-admin {
  text-align: left;
  font-family: Arial, Verdana, sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #5c5d5f;
  background-color: #e0e1e3;
  margin: 0px 15px 15px 15px;
  padding: 10px 0px 10px 22px;
}

.chart-container {
	color: #000;
}

.icon-glyph {
    float:right;
    margin-right:10px;
    margin-top:20px;
}

/*
 * Row Headline
 */
.row-headline {
    margin:0px;
}
/*
 * Aux Row Headlines and Features
 */
.aux-row div div.feature h3 {
  font-size:18px;
  text-transform:uppercase;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.aux-row div div.feature p {
  font-size:13px;
}

.aux-row div div.feature img {
  margin-bottom:-10px;
}

/*
 * Homepage Call to Action
 */
.uop {
    padding:60px;
}

/* Styling for brand control chart */
.brand-selector {
    align: right;
}

.data-table {
	
}

.data-table td {
	padding: 0px;
}

.data-table h3 {
	font-size:35px;
	color:#666;
	display:inline;
}

.data-table h4 {
	font-size:18px;
	color:#666;
	display:inline;
}

	
#brands .show_chartTypeSelector_wrapper {
	   display: none;
}
		 
#healthy-choices .show_chartTypeSelector_wrapper {
	   display: none;
}

.green-panel-heading {
	padding:0px;
	border-bottom:1px solid transparent;
	border-top-right-radius:3px;
	border-top-left-radius:3px;
}

.top-panel-heading {
	padding:0px;
	margin-top:5px;
}

.col-text {
	color:#FFF;
	
}

#Library {
   background-image: url('LibraryTransparent.png');
   height: 70px;
   width: 120px;
}

#Library:hover {
   background-image: url('LibraryHoverTrans.png');
}

.green-btn-custom   {
  background-color: hsl(89, 31%, 34%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8fb16c", endColorstr="#57713b");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#8fb16c), to(#57713b));
  background-image: -moz-linear-gradient(top, #8fb16c, #57713b);
  background-image: -ms-linear-gradient(top, #8fb16c, #57713b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8fb16c), color-stop(100%, #57713b));
  background-image: -webkit-linear-gradient(top, #8fb16c, #57713b);
  background-image: -o-linear-gradient(top, #8fb16c, #57713b);
  background-image: linear-gradient(#8fb16c, #57713b);
  border-color: #57713b #57713b hsl(89, 31%, 28.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
  height: 24px;
  padding-top: 0px;
  margin-bottom: 0px;
  font-size:14px;
}

.admin-btn   {
  align: center;
  height: 30px;
  padding-top: 1px;
  font-size:18px;
  margin-left:8px;
}

.green-inline-dropdown {
  display: inline-block;
}

.shipping-select {
	width: 90%;
	background-color:#719737;
	color: #fff;
	font-size:16px;
	height:52px;
	border-color: #57713b;
	border:none;
    outline:none;
	padding:0px;
}

.admin-select {
	width: 87%;
	background-color:#719737;
	color: #fff;
	font-size:15px;
	height:46px;
	border-color: #57713b;
	border:none;
    outline:none;
	padding:2px;
	margin-left:5px;
	margin-bottom:5px;
}

.admin-select2 {
	width: 98%;
	background-color:#719737;
	color: #fff;
	font-size:15px;
	height:46px;
	border-color: #57713b;
	border:none;
    outline:none;
	padding:2px;
	margin-left:5px;
	margin-bottom:5px;
}

.internal {
	height: 700px;
}

.shipping-header {
  text-align: left;
  font-family: Arial, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #5c5d5f;
  background-color: #e0e1e3;
  margin: 0px 10px 5px 10px;
  padding: 8px 0px 10px 22px;
  height: 34px;
}

.admin-nav a {
	
	font-size:14px;
	color: #E2F0D0;
	margin-top:5px;
}

.admin-nav a:hover  {
	
	color: #063;
}

.no-margin-padding {
	padding: 0px;
	margin: 0px;
}

#container {
    height: 690px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 40px;
    margin-bottom: 60px;
}

.add-pointer { cursor: pointer; }
