 <!-- Login Authentication Help Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        			<h3 class="modal-title" id="myModalLabel" style="color:#355B33">Administrator / Manager Login</h3>
      			</div>
      			<div class="modal-body">	
    		     <!-- Authentication login/logout interface -->
    			 		<div>
              			<form id="loginForm" name="loginForm" class=".navbar-form">
                  			<div class="form-group">
                      			<input type="text" name="user" class="form-control" placeholder="Username">
                  			</div>
                  			<div class="form-group">
                      			<input type="password" name="pass" class="form-control" placeholder="Password">
                  			</div>
                  		<button id="loginFormSubmit" type="submit" name="submit" class="btn btn-success btn-large">Login</button>
              			</form>
  					  </div>
              <br><br><br><br>
              <div>
    						<h4>Manager Login: (California):</h4>
                				<h6>Username: "CaliforniaAdmin"</h6>
    						<h6>Password: "CaliforniaAdmin"</h6>
    						<br>
    						<h4>Admin Login:</h4>
    						<h6>Username: "USAdmin"</h6>
    						<h6>Password: "USAdmin"</h6>
  						</div>
      			</div>
      			<div class="modal-footer"></div>
    		</div>
  	</div>
</div>
