.dashboardViewer .dashboardContainer > .content > .body {
    top: 29px;
}

.dashboardViewer .hyperlink {
    cursor: pointer;
}

.dashboardContainer > .nothingToDisplay {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -100px;
    width: 400px;
    background: transparent;
    z-index: 1;
    border: medium none;
}

.dashboardContainer > .nothingToDisplay.hidden {
    display: none;
}

.dashboardContainer > .nothingToDisplay .body > * {
    background: #fff;
}

.dashboardContainer > .nothingToDisplay .message {
    border: 1px solid #D3D2D2;
    margin: 10px 0;
    padding: 10px;
    text-align: left;
}